/*
* @Author: chenchao
* @Date:   2018-04-09 18:36:39
* @Last Modified by:   chenchao
* @Last Modified time: 2018-04-13 16:28:14
*/

$prefixCls: 'toast';

// Notice
.#{$prefixCls}-content {
  position: fixed;
  left: 50%;
  top: 40%;
  min-width: 10%;
  max-width: 15%;
  line-height: 20px;
  font-size: 16px;
  padding: 15px;
  transform: translate(-50%, -50%);
  z-index: 1100;
  background: rgba(0,0,0, .5); 
  text-align: center;
  color: #fff;
  border-radius: 10px;
  // 正常提示
  &.info {
    animation: Flop 2s;
  }

  // 成功提示
  &.success {
    animation: BombIn 2s;
  }

  // 警告提示⚠️
  &.warning {
    animation: slideInFromBottom 2s ;
  }

  // 错误提示
  &.error {
    animation: shake 2s;
  }
}
//爆炸入库
@keyframes BombIn {
  0% {
    transform: translate3D(-50%, -50%, 0) scale(0, 0);
  }
  // 50% {
  //   transform: translate3D(-50%, -50%, 0) scale(1.2, 1.2);
  // }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}
//翻转
@keyframes Flop {
  0% {
    transform: translate(-50%, -50%) rotateY(90deg);
  }
  33% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  67% {
    transform: translate(-50%, -50%) rotateY(-30deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}
// 从底部滑入
@keyframes slideInFromBottom {
  0% {
    transform: translate(-50%, 0%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

// 摇晃
@keyframes shake {
  from, to {
    transform: translate(-50%, -50%);
  }

  15%, 45%, 75% {
    transform: translate(-60%, -50%);
  }

  30%, 60%, 90% {
    transform: translate(-40%, -50%);
  }
}