/*
* @Author: chenchao
* @Date:   2018-04-10 16:03:05
* @Last Modified by:   chenchao
* @Last Modified time: 2018-04-12 12:09:08
*/
.dialog-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.54);
    top: 0;
    left: 0;
    z-index: 1000;
    .dialog-wrapper{
        position: fixed;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.54);
        padding: 30px;
        z-index: 3;
        font-size: 16px;
        .dialog-title{
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }
        .dialog-content{
            margin: 20px 0;
            line-height: 24px;
            text-align: center;
        }
        .dialog-btn{
            background-color: #E84A01;
            margin: 0 25%;
            text-align: center;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
        }
        .if-delete{
            position: absolute;
            top: 6px;
            right: 12px;
            font-size: 18px;
            color: #757575;
            cursor: pointer;
        }
    }
}