/*
* @Author: chenchao
* @Date:   2018-04-19 14:21:47
* @Last Modified by:   chenchao
* @Last Modified time: 2018-04-19 14:41:31
*/
.app-footer{
    line-height: 60px;
    text-align: center;
    background-color: #F55145;
    color: #fff;
    margin-top: -60px;
}