/*
* @Author: chenchao
* @Date:   2018-07-23 18:11:04
* @Last Modified by:   chenchao
* @Last Modified time: 2018-08-31 00:20:13
*/

.app-she{
    padding: 40px 0;
    text-align: center;
    .lh-40{
        line-height: 40px;
    }
    .she-box{
        background: #fff;
        padding: 30px 0;
    }
    .she-title{
        line-height: 60px;
        height: 60px;
    }
    .she-content{
        line-height: 30px;
        font-size: 16px;
    }
    .content-bottom{
        line-height: 40px;
        color: red;
    }
}