/*
* @Author: chenchao
* @Date:   2018-04-25 10:47:47
* @Last Modified by:   chenchao
* @Last Modified time: 2018-04-25 10:48:57
*/
.list-item{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover{
        background-color: #ebebeb;
    }
    .item-img{

    }
    .item-r{
        flex: 1;
        padding-left: 20px;
        .item-title{
            line-height: 40px;
            font-weight: bold;
            font-size: 20px;
        }
        .item-content{
            //display: -webkit-box;
            //-webkit-box-orient: vertical;
            //-webkit-line-clamp: 4;
            line-height: 30px;
            max-height: 120px;
            height: 120px;
            //overflow : hidden;
            //text-overflow: ellipsis;
        }
        .item-time{
            line-height: 40px;
        }
    }
}