/*
* @Author: chenchao
* @Date:   2018-04-25 10:47:47
* @Last Modified by:   chenchao
* @Last Modified time: 2018-08-31 00:15:48
*/
.list-box{
    display: block;
    background-color: #fff;
    transition: all .2s linear;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;    
    &:hover{
        box-shadow: 0 15px 30px rgba(0,0,0,0.1);
        transform: translate3d(0, -2px, 0);
    }
}
.list-item{
    height: 200px;
    .item-img{
        width: 200px;
    }
    .item-r{
        padding-left: 20px;
        .item-title{
            line-height: 40px;
            font-weight: bold;
            font-size: 20px;
        }
        .item-content{
            line-height: 30px;
            max-height: 120px;
            height: 120px;
        }
        .item-time{
            line-height: 40px;
        }
    }
}