/*
* @Author: chenchao
* @Date:   2018-04-11 11:54:58
* @Last Modified by:   chenchao
* @Last Modified time: 2018-07-17 16:06:03
*/
.color-base {
    color: #E84A01 !important;
}

.color-ff {
    color: #ffffff !important;
}

.color-21 {
    color: #212121 !important;
}

.color-75 {
    color: #757575 !important;
}
.f-12 {
    font-size: 12px !important;
}

.f-14 {
    font-size: 16px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-22 {
    font-size: 22px !important;
}

.fw-b {
    font-weight: bold !important;
}

.border-t-e6 {
    border-left: 1px solid #E6E6E6 !important;
}

.border-l-e6 {
    border-left: 1px solid #E6E6E6 !important;
}

.border-r-e6 {
    border-right: 1px solid #E6E6E6 !important;
}

.border-b-e6 {
    border-bottom: 1px solid #E6E6E6 !important;
}

.bg-c-ff {
    background-color: #fff !important;
}
.pd-l-6{
    padding-left: 6px;
}
.pd-r-6{
    padding-right: 6px;
}
/* 清除浮动 */
.clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.align-l {
    text-align: left;
}

.align-c {
    text-align: center;
}

.align-r {
    text-align: right;
}
/*超过长度省略号*/
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.d-show {
    display: block;
}
.d-none{
    display: none;
}
.w100-h100 {
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
    &.center { //主轴侧轴居中
        align-items: center;
        justify-content: center;
    }
    &.center-a { //侧轴居中
        align-items: center;
    }
    &.center-j { //主轴居中
        justify-content: center;
    }
    &.between { //主轴两端对齐
        justify-content: space-between;
    }
    &.column { //主轴为垂直方向，起点在上沿
        flex-direction: column;
    }
    &.row { ////换行，第一行在上方
        flex-wrap: row;
    }
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}

.flex-12 {
    flex: 12;
}









