/*
* @Author: chenchao
* @Date:   2018-08-17 11:41:14
* @Last Modified by:   chenchao
* @Last Modified time: 2018-08-17 11:42:12
*/
$cl-21: #212121;
$cl-75: #757575;
$cl-f7: #f7f7f7;
$cl-f2: #f2f2f2;
$cl-bd: #bdbdbd;
$cl-de: #dedede;
$cl-d8: #d8d8d8;
$cl-e6: #e6e6e6;
$cl-61: #616161;
$cl-ff: #ffffff;
$cl-ef: #efefef;